.contact-block{
    width: 36%;

    height: 100vh;
    border-right: 1.5px solid #80808070;
}

                  /*search block*/
.search-block {
    padding:3% 4%;
     background-color: #f8f9fe;
    border-bottom: 1.5px solid #80808070;


}

#contact-search {
    min-height: 50px;
    padding: 10px 25px;
    margin: 7% auto 1% auto;
    border-radius: 30px;
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
}
#contact-search:hover,
#contact-search:focus{
outline: none;
}



                 /*contact-list block*/
#chats{
font-size: 32px;
font-weight: 600;
color:royalblue;
padding: 30px 12px;
margin: 0;
background-color: white;
}



                  /*list of contacts*/
.list {
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.contact-profile{
    height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
.contact-profile:hover{
    cursor: pointer;
}


.profile-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;

    flex-wrap: wrap;


}

.contact-name {
   font-size: 17px;
    font-weight: 600;
    color: #313131;
    margin: 0;

}

.last-message {
    font-size: 15px;
    color: #4d4c4cd1;
    margin:2px 0 0 0 ;

}

.last-message-date {
    display:flex;
    justify-content: end;
    align-items: start;
    height: 65%;
    font-size: 14.5px;
    color: #313131;
}




