
*{
  box-sizing: border-box;
}
.App {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #a9a9a936;
  height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 0;

}

 /*logo block*/


.logo {
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;

}

.logo img {
  width: 100%;
  height: 100%;
}
.checked-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}