* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.App {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #a9a9a936;
  height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 0;
}

/*logo block*/

.logo {
  width: 60px;
  height: 60px;
  position: relative;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.checked-icon {
  position: absolute;
  right: -3%;
  bottom: -2%;

  height: 20px !important;
  width: 20px !important;
}
